* {
  box-sizing: border-box;
}

body {
  background: #1e1e30;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

main {
  height: calc(100vh - 100px);
}

.element-bg {
  background: #363437;
}

.pointer {
  cursor: pointer;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 992px) {
    width: 960px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
}
